<%- include("../partials/header.ejs") %>
  <% if(locals.events){ %>
    <% events.forEach((event)=>{ %>
      <div class="posts container rounded">
        <p class="fst-italic">
          <%= event.date %>
        </p>
        <div class="id d-flex flex-row gap-2">
          <h5>ID:</h5>
          <p>
            <%= event.id %>
          </p>
        </div>
        <div class="content">
          <h5>Content:</h5>
          <p>
            <%= event.content %>
          </p>
        </div>
        <div class="author">
          <h5>by:</h5>
          <p>
            <%= event.author %>
          </p>
        </div>

      </div>
      <% })} if(locals.alert){ %>
        <p class="text-center alert">
          <%= alert %>
        </p>
        <% } %>

          <%- include("../partials/footer.ejs") %>